<div class="right-pane">
    <canvas id="canvas">
    </canvas>

    <!--<div id="myModalMask" ng-show="myModals">-->
        <!--<div id="myModal">-->
            <!--<div>-->
                <!--<div class="modalTitle">-->
                    <!--<span class="closeBtn"></span>-->
                    <!--Add Friends-->
                <!--</div>-->
                <!--<br />-->
                <!--<div class="friendList">-->
                    <!--<span class="friend"></span> Potential Friends-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>